<h1 i18n="User welcome|An introduction header for this sample@@introductionHeader">
  Bienvenue, sur cette application
</h1>
<ng-container i18n>On afficher rien ici</ng-container>
<br />
<button i18n> Enregistrer </button>
<button type="button" (click)="inc(1)">+</button> <button type="button" (click)="inc(-1)">-</button>
<span i18n>Mis a jour {minutes, plural, =0 {a l'instant} =1 {il y a une minute} other { il y a {{ minutes }} minutes}}</span>
({{ minutes }})
<br><br>
<button type="button" (click)="male()">♂</button>
<button type="button" (click)="female()">♀</button>
<button type="button" (click)="other()">⚧</button>
<span i18n>L'auteur est {gender, select, male {um male} female {une femelle} other {other}}</span>
<br><br>
<button i18n> Enregistrer </button>
